$pink: #FF4EA7;
$blue-ciel: #1AB6CF;
$blue-windows: #4990E2;
$gray: gray;
$paper-gray: #EEEBE5;

$white: #ffffff;
$cyan: #A1DDE7;
$yellow: yellow;
$mustard: #FFA70A;
$red: #CD4B3F;
$green: #88DE83;
$white: #ffffff;
$black: #000000;

$dark-gray: #4F4F4F;
$darkish-gray: #555555;

$midnight-green: #2FABA2;
$washed-out-green: #5D7876;
$scream-out-green: #53DE85;
$washed-out-pink: #E28DAC;
$scream-out-magenta: #AB2F9A;


// Brand Colors
$brand-primary: $dark-gray;
$brand-action: $pink;

// Scaffolding
$body-bg: #F2F2F2;
// $text-color: #ffffff;
$link-color: $brand-primary;
