$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-smaller: 0.75rem;
$font-size-base: 14px;
$font-size-large: 1.14rem; // 16px
$font-size-larger: 1.28rem; // 18px
$font-size-x-large: 2rem;


$font-size-h1: $font-size-x-large;
$font-size-h2: $font-size-larger;


$font-weight-thinner: 100;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
